/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 
    #encabezado, #hero {
        height: 70vh;
    }
    #hero {align-content: flex-end;}
    #hero .textos {padding-left: 17%;}
    #hero .imagenes .celular {
        max-width: 450px;
        top: -55px;
    }
    #hero .imagenes .qr {left: 225px;}
    #confianza .triangulos {
        height: 40vh;
    }
    #confianza {
        height: 80vh;
        align-content: flex-end;
    }
    #confianza .textos {
        align-content: flex-end;
        padding: 0 13% 0 5%;
        margin-bottom: -50px;
    }
    #confianza .triangulo-1 {
        width: 70%;
        top: -60%;
    }
    #confianza .triangulo-2 {
        max-width: 230px;
        top: 50%;
    }
    #cambios-ilimitados .textos {
        text-align: right;
        padding: 22% 25% 0 9%;
    }
    #cambios-ilimitados .triangulo-3 {
        top: 25%;
    }

    #beneficios {
        padding: 9% 4% 7% 2%;
        gap: 170px 4%;
    }
 }

 /* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
    .bkgr-triangulos {
        top: 35px;
        background: url('../images/bkgr-triangulos-991.svg')no-repeat top center;
        background-size: 100% auto;
        height: 2500px;
    }
    h1 {font-size: 2.7em;}
    #encabezado {height: 90vh;}
    #hero {height: 90vh; align-content: center;}
    #hero .textos {
        padding-left: 14%;
        height: 100%;
    }
    #hero .imagenes .celular {
        width: 89%;
        top: -25px;
    }
    #hero .imagenes .qr {
        width: 32%;
        left: 175px;
        bottom: 0;
    }
    #confianza {height: 90vh; align-content: center;}
    #confianza .textos {
        align-content: flex-end;
        padding: 0 12% 0 5%;
        margin-bottom: 0;
    }
    #confianza .triangulo-1 {
        width: 70%;
        top: -80%;
    }
    #confianza .triangulo-2 {
        max-width: 230px;
        top: 35%;
    }
    #cambios-ilimitados {align-content: center;}
    #cambios-ilimitados .textos {
        text-align: right;
        padding: 0 20% 0 12%;
    }
    #cambios-ilimitados .triangulo-3 {
        top: 25%;
        width: 33%;
    }
    #como-funciona {height: 70vh;}

    #beneficios {
        padding: 9% 4% 0 2%;
        gap: 170px 4%;
    }
 }

 /* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
    .celular {display: none;}
 }

  /* // Smallest devices */
 @media (max-width: 575.98px) { 
    .celular {display: none;}
 }